<div>
    <hr style="height: 2px; background-color:#555; margin-top: 10px; margin-bottom: 20px; width: 75%;" />
 </div>

<div id="footer" style = "margin-top: 0em;" >
   	<p id="contactadmin_en" class="text-center" style = "margin: 0em;">Report problems with this website to the <a href="http://lfrohr@gmail.com">Administrator</a>.</p>
   	<p id="contactadmin_sp" class="text-center" style = "margin: 0em;">(Notificar problemas relacionados con este sitio web al <a href="http://lfrohr@gmail.com">Administrador</a>).</p>
</div>