

<div class="row">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-6">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        
        <ul class="nav navbar-nav">
          <li class="active"><a <%= link_to 'Back', 'javascript:history.go(-1);' %>>Back</a></li>


          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Help
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">This Page</a></li>
              <li><a href="#">How To</a></li>
            </ul>
          </li>


          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">1: Photos
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">1.1: Photos Library</a></li>
              <li><a href="#">1.2: Albums</a></li>
              <li><a href="#">1.3: Home Videos</a></li>
            </ul>
          </li>

          <!--<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">2: People
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">2.1: Individuals</a></li>
              <li><a href="#">2.2: Households</a></li>
              <li><a href="#">2.3: Directory</a></li>
                 <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Lists</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Birthdays</a></li>
                        <li><a href="#">Anniversaries</a></li>
                      </ul>
              </li>
            </ul>
          </li>-->

          <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">HTML</a></li>
      <li><a tabindex="-1" href="#">CSS</a></li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li class="dropdown-submenu">
            <a class="test" href="#">Another dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">3rd level dropdown</a></li>
              <li><a href="#">3rd level dropdown</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">2: People
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">2.1: Individuals</a></li>
              <li><a href="#">2.2: Households</a></li>
              <li><a href="#">2.3: Directory</a></li>
                 <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Lists</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Birthdays</a></li>
                        <li><a href="#">Anniversaries</a></li>
                      </ul>
                  </li>
            </ul>
          </li>




          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">3: Research
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">3.1: Research Log</a></li>
              <li><a href="#">3.2: Correspondence</a></li>
              <li><a href="#">3.3: Attachments</a></li>
              <li><a href="#">3.4: Locations</a></li>
              <li><a href="#">3.5: Sources</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Misc
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Recipes</a></li>
              <li><a href="#">Movies</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="#">Admin Menu</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-xs-3">
  </div>
</div>
