<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="family website">
    <meta name="author" content="larry rohr">
    
    <title>Getting Started</title>

    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/mystyles.css"><!-- reference last to give it priority -->

</head>
<body>
	<div class="container">  
		<div id="permissions" class="page-header">
			<div class="content-heading">
				<img id="logo" src="../logo.png" alt="Logo" title="Logo"/>
				<label id="permissions">[User: Larry ROHR  -  Permissions: Admin  -  Gen Grp: Rohr  -  Lang: English]</label>
			</div>
   			<h1>Getting Started With Our Family Genealogy<br>
    			<div class="row">
    				<form role="form" class="form-inline">  
					<a class="btn btn-lg btn-primary" href="javascript:history.go(-1)" role="button">&#171; BACK</a>
      					<div class="form-group">
        					<label for="help">HELP:</label>
        					<select id="help" class="form-control selectWidth placeholder" onChange="window.location.href=this.value">
							<option value="">***Select Help Type Here</option>
          						<option value="help-pages.html">"This" Page Help</option>
          						<option value="help-how-to.html">"How To" Help</option>
          						<option value="contact-admin.html">Contact Web Administrator</option>
        					</select>
						<script>
    							document.getElementById("help").onchange = function() {if (this.selectedIndex!==0) 
							{window.location.href = this.value;}};
						</script>
      					</div>
					<a class="btn btn-success btn-lg" href="#" role="button">Next &#187;</a>
					<a class="btn btn-success btn-lg" href="#" class="btn btn-disabled" disabled role="button">Disabled &#187;</a>
      				</form>
    			</div> <!-- End Row -->
		</div><!-- End Page Header -->


		<h2 id="background">Background</h2>
     <p class= "indent">The forerunner of this website was a small desktop solution I created to track my own records but it was not adequate for multiple users because it would have to be reinstalled each time a program change was made and it would be a nightmare to keep up with the versions of the data being used. As you use this website it will likely become obvious to you that I am not a softwware engineer. If you find issues with this site or have suggestions for improvements feel free to contact me at: lfrohr@gmail.com.</p>

     <p class= "indent">When my younger sister, Virginia, passed away I helped go through her "shoe boxes in the basement" that contained valuable family records (photos, journals, etc.) that I didn't know even existed. It occurred to me that I, and you, and probably other members of the family perhaps have their own "shoe boxes in the basement" containing information that isn't being shared with other family members who have a true interest in them. Then as I worked with the records my parents left me and as I shared this information several challenges became obvious, namely: 1) How to keep this valuable information well organized and as accurate as possible, 2) How to ensure that everyone has access to it, and 3) How to provide an easy method for all interested parties to correct and/or contribute. This website represents an answer to some of these challenges. The forerunner of this website was a small desktop solution I created to track my own records but it was not adequate for multiple users because it would have to be reinstalled each time a program change was made and it would be a nightmare to keep up with the versions of the data being used. As you use this website it will likely become obvious to you that I am not a softwware engineer. If you find issues with this site or have suggestions for improvements feel free to contact me at: lfrohr@gmail.com.</p>

		<h2 id="fam-tree">LDS Family Tree</h2>
    <p class= indent>As I worked on this project a major concern arose: How can this family genealogy be preserved after I am no longer around to maintain it or this website no longer exists? The answer is that the Family Genealogy Website is not intended to be a permanent repository for our family information:rather, it is a staging area where we can remove duplications, correct errors, added new records, and freely share between ourselves. Then whenever the contributor of important family genealogy records is confident that everything is adequately supported by source documentation, the information can be submitted to the LDS genealogy website - FamilySearch. This website is free to use, accepts photos, scanned document, records, etc. and connects our family with other records to form the tree of mankind. The church has the resources to maintain these records indefinitely which assures that they will still be available to our children' children.</p>

    <p class= indent>There are many reasons for us to agree that FamilySearch is our best solution:</p>
    <Ul>
      <li>1) Family Search is available to both church members and nonmembers alike.</li>
      <li>1) There has never been in the past nor will be in the future any cost for using FamilySearch.</li>
      <li>1) Records will be kept indefinetly (much long than any of us would be able to do.)</li>
      <li>1) The data will be backed up.</li>
      <li>1) We can access it anytime, from any computer.</li>
      <li>1) In an electronic format records and photos will not experience a deteriation in quality.</li>
      <li>1) We do not have to worry about loosing our personal records because of fire or theft.</li>
      <li>1) Our family records will be linked to millions of other records which my contain information we are missing.</li>
      <li>1) As an added bonus we will each have access to additional research tools provided by FamilySearch such as birth/marriage/death records, census records, etc.</li>
    </Ul>
              	
    <h2>Organization of Records</h2>
    <p class= indent>Originally, this project was going to be called the "Rohr Family Genealogy Project", which would only included members of the Rohr family. As more and more records were added for the Medina family it became apparent that it would be useful to be able to filter records according to both of these two surnames. Then, it was decided to add the family of the foster parents of Gloria (Medina) Rohr which adds the third surname of "Erekson". Finally, the three major family lines which these database records can be filtered by are: <span class="my-emphasis-dark">"ROHR", "MEDINA", "EREKSON"</span>.</p>
              	
		<p class= indent><b>Spanish Records:</b> Many of the pages and reports are provided in a spanish version. This is an on going effort as not all have yet been translated.</p>
              
		<p class= indent><b>Getting Help:</b> The Help feature provided in OurFamGen is in the form of a <a = "ldsfamtree">"How To"</a> lookup. There you will find the answer to several How-To questions giving instructions to the user on how to perform many of the functions in this website. A button is provided on several of the web pages linking the user back to this "How To" section. Problems with the website can be reported to me at <a = "ldsfamtree">lfrohr@gmail.com</a>.</p>

              	<h2 id="sec4">Users</h2>

		<p class= indent><b>Authorized Users:</b> If you have a record in this database AND you have been assigned a password then you are a <span class="my-emphasis-dark">Authorized User</span>. As a General User you are able to sign on to this website and view the family records in "Read Only" mode. In order to be given "Change" permission allowing you to add/edit family records you must become a <span 			class="my-emphasis-dark">Qualified User</span> as described below:</p>

		<p class= indent><b>Certified Users:</b> In order to protect the information you contribute to this database no one else can change it unless they qualify by taking a self-training course. This is to help ensure that inexperienced user woun't be making inadvertent changes to the data. The Certification Course/Exam can be found <a = "ldsfamtree">here</a>.</p>

      		<h2>Admin Activities</h2>
              	<p class= indent>The links to Admin Services can be found on the Table of Contents under "Administration".This is where you can link to a page to change your password or to edit Popup Lists as described below:</p>
              
		<p class= indent><b>Edit Popup Lists:</b> A popup list is a list of selection options connected with a control on a page where you are asked to make a selection. Some (but not all) of these lists can be edited/added to by the user. </p>

		<h2>Family Photos</h2>
              	<p class= indent>An important feature of the website is the ability to organize family photos. These photos can be used on three different web pages: Person Record, Marriage Record, Family Albums.</p>

		<p class= indent><b>Photo Installation:</b> Before a photo can be used on any database record it must first be installed in the database.</p>

		<h2 id="background">Genealogy Records</h2>
		<p class= indent><b>Person Records:</b> xxx</p>

		<p><b>Marriage Records:</b><p class= indent>xxx

		<p class= indent><b>LDS Ordinances:</b> xxx</p>

		<p class= indent><b>Genealogy Sources:</b> xxx</p>
		
		<p class= indent>An important feature of the website is the ability to organize family photos. These photos can be used on three different web pages: Person Record, Marriage Record, Family Albums.</p>
		<p class= indent>Photo Installation:</b>Before a photo can be used on any database record it must first be installed in the database.
		<p class= indent>Family Albums:</p>


		<footer>
			<hr id="my-footer-line">
        		<p id="my-footer">For problems with this website contact the <a href="mailto:lfrohr@gmail.com">Web Administrator</a>.</p>
      		</footer>
	</div> <!-- End Container -->
    <!-- ============Placed at the end of the document so the pages load faster =========-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/ie10-viewport-bug-workaround.js"></script><!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</body>
</html>