<!DOCTYPE html>
<html>
<head>
<title>Switchboard Continued</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

	<%= render "partials/userinfo" %>
  <%= render "partials/navbar" %>

	<div class="row">
      <div class="col-md-1">
      </div>

    	<div class="col-md-3">
        <h1>Switchboard ...more</h1>
    		<h3>Background</h3>
    		  <p>The forerunner of this website was a small program I created in Microsoft Access to track my own records. It worked ok for just me because I was able to manage my own computer. However, this was not the answer for a tool to be shared among multiple users because it would have to be reinstalled each time a program change was made. Also, there would be no way to coordinate the data being created on multiple users' desktops. Having a shared website seemed the logical solution.</p>

          <p>This is the first website I have ever tried to create and I am not very fast or good at it. I did not take on this project because of my ability to do, rather, it was my interest in accomplishing it because I felt it might actuially be usefule to others. I am hopeful that before the day comes that I am no longer able to serve as the administrator there will be someone willing to take over these duties. As you use this website it will likely become obvious to you that I am not a softwware engineer. If you find issues with this site or have suggestions for improvements feel free to contact me at: lfrohr@gmail.com.</p>

          <h3>Longeivity</h3>
          <p>As I worked on this project a major concern arose: How can this family genealogy be preserved after I am no longer around to maintain it or if this website no longer exists? We want something that will be around for our grandchildren to use. If this information doesn't get maintained the result would be the same as leaving it in the <em>"shoe boxes in the basement"</em>.</p>

          <p>We should'nt expect this family website to be the final resing place for these records because this website and its management is too fragile.</p>
        </div>
    
        <div id="main-content" class="col-md-4">
          <p>This becomes a good place for us to gather our records and proof them but its not the best place for us to keep the importance ones for ever. It is a staging area where we can remove duplications, correct errors, added new records, and freely share between ourselves. Then, whenever the contributor of important family genealogy records is confident that everything is adequately supported by source documentation, the information can be submitted to the LDS genealogy website - FamilySearch because it is a tested and proven repository that will be around for many years to come. The answer here is LDS FamilySearch!</p>

          <h3>LDS FamilySearch</h3>
          <p>LDS FamilySearch is a premeir family history/genealogy repository maitained by the Church of Jesus Christ of Latter-Day Saints. FamilySearch is free to use, accepts photos, scanned document, records, etc. and connects our family with other lost records. The church has the resources to maintain these records indefinitely which assures that they will still be available to our children' children.</p>

          <p>There are many reasons for us to agree that FamilySearch is our best solution:</p>
            <Ul>
              <li>- Family Search is available to both church members and nonmembers alike.</li>
              <li>- There has never been in the past nor will be in the future any cost for using FamilySearch.</li>
              <li>- Records will be kept indefinetly (much long than any of us would be able to do.)</li>
              <li>- The data will be backed up.</li>
              <li>- We can access it anytime, from any computer.</li>
              <li>- In an electronic format records and photos will not experience a deteriation in quality.</li>
              <li>- We do not have to worry about loosing our personal records because of fire or theft.</li>
              <li>- Our family records will be linked to millions of other records which my contain information we are missing.</li>
              <li>- As an added bonus we will each have access to additional research tools provided by FamilySearch such as birth/marriage/death records, census records, etc.</li>
            </Ul></p>
        </div>

        <div id="main-content" class="col-md-3">
        <h3>Help Files</h3>
    		<p>There are two types of help files accessible from the "Help" button on the navigation bar. One of the help features is a "How To" designed to let you select answers to select questions about the important functionality of the website. A second feature ia a "This Page" help reference which give you and overview of the features of the page you are currently on. An example of this is the "This Page" help found on the Switchboard page. It cantains an overview of the site. You can view this help page... here.</p>

        <h3>Permissions</h3>
        <p>When an account is created for each new user a permission is also granted (either, Read, Change or Admin). After the user logs ini in he can see what the system has defined as his permission by looking at the user information banner displayed accross the top of each page. "Change" permission is granted based on the user's need and proffeciency in using the database. These are some of the measures taken to protect the integrity of the information you put into the database.</p>
        </div>   
        <div class="col-md-1">
        </div>      
    </div>

</body>
</html>