<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="family website">
    <meta name="author" content="larry rohr">
    
    <title>TOC</title>

    <!--<link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/mystyles.css"><!-- reference last to give it priority -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="row">
    <div class="col-xs-3">
    </div>

    <div class="col-xs-6">
      <div class = "btn-toolbar" style="margin-left:180px;">
        <div class="dropdown">
          <button class="btn btn-primary btn-sm" type="button" style = "margin: 0px 2px 0px 0px;"><img src="/myimages/back.png" alt="Home" width="20" height="20" /></button>
        </div>

        <div class="dropdown">
          <button class="btn btn-primary btn-sm" type="button" style = "margin: 0px 2px 0px 0px;"><img src="/myimages/single_back.png" alt="Back" width="15" height="20" /></button>
        </div>

        <div class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" style = "margin: 0px 2px 0px 2px;">
          <img src="/myimages/help.png" alt="Help" width="20" height="20" />&nbsp&nbsp&nbsp<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="/pages/help_switchboard_en">Help - This Page (Ayuda -Esta Página)</a></li> 
            <li><a tabindex="-1" href="#">Help "How To" ("Ayuda Cómo")</a></li>
          </ul>
        </div>

      <div class="dropdown">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" style = "margin: 0px 2px 0px 2px;">1: Photos (Fotos)
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">1.1 Photos Library (Biblioteca de Fotos)</a></li>
          <li><a tabindex="-1" href="#">1.2 Albums (álbumes)</a></li>
          <li><a tabindex="-1" href="#">1.3 Home Videos (Videos Caseros)</a></li>
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" style = "margin: 0px 2px 0px 2px;">2: People (Gente)
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">2.1 Individuals/Journals (Individuos/Journas)</a></li>
          <li><a tabindex="-1" href="#">2.2 Marriages (Los Matrimonios)</a></li>
          <li class="dropdown-submenu">
          <a class="test" tabindex="-1" href="#">2.3: DIRECTORIES (DIRECTORIOS) <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#">2.3.1 Phone Directory (Directorio Telefonico)</a></li>
              <li><a tabindex="-1" href="#">2.3.2 Birthdays (Cumpleaños)</a></li>
              <li><a tabindex="-1" href="#">2.3.3 Anniversaries (Aniversarios)</a></li>
              <li class="dropdown-submenu">
              <a class="test" href="#">2.4: LISTS (Liza)<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">2.4.1 LDS Members (Los Miembros de LDS)</a></li>
                  <li><a href="#">2.4.2 Languages (Idiomas)</a></li>
                  <li><a href="#">2.4.3 LDS Missions (Misiones de LDS)</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" style = "margin: 0px 2px 0px 2px;">3: Genealogy
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">3.1 Research Log (Iniciar la Investigación)</a></li>
          <li><a tabindex="-1" href="#">3.2 Attachments (Archivos Adjuntos)</a></li>
          <li><a tabindex="-1" href="#">3.3 Correspondence (Correspondencia)</a></li>
          <li><a tabindex="-1" href="#">3.4 Temples (Templos)</a></li>
          <li><a tabindex="-1" href="#">3.5 Reports (Informes)</a></li>
          <li class="dropdown-submenu">
          <a class="test" tabindex="-1" href="#">3.6: PLACES (LUGARES)<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#">3.6.1 Countries (Países)</a></li>
              <li><a tabindex="-1" href="#">3.6.2 States (Unidos)</a></li>
              <li><a tabindex="-1" href="#">3.6.3 Counties (Condados)</a></li>
              <li><a tabindex="-1" href="#">3.6.4 Cities/Townships (Ciudades)</a></li>
              <li><a tabindex="-1" href="#">3.6.5 Courthouses (Juzgados)</a></li>
              <li><a tabindex="-1" href="#">3.6.6 Parishes (Parroquias)</a></li>
              <li><a tabindex="-1" href="#">3.6.7 Cemeteries (Cementerios)</a></li>
              <li class="dropdown-submenu">
              <a class="test" href="#">3.7: SOURCES (FUENTES)<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">3.7.1 US Census (Censo de los EE.UU.)</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" style = "margin: 0px 0px 0px 2px;">4: Misc.
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">4.1 <b>*Start Here (Empieza Aqui)</b></a></li>
          <li><a tabindex="-1" href="#">4.2 Calendar (Calendario)</a></li>
          <li><a tabindex="-1" href="#">4.3 Recipes (Recetas)</a></li>
          <li><a tabindex="-1" href="#">4.4 Feature Movies (Movies)</a></li>
          <li class="dropdown-submenu">
          <a class="test" tabindex="-1" href="#">4.5: ADMINISTRATIVE (ADMINISTRATIVO)<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#">4.5.1 Change Password (Cambia la Contraseña)</a></li>
              <li><a tabindex="-1" href="#">4.5.2 Request Permission Upgrade (Solicitud de Actualización Permiso)</a></li>
              <li><a tabindex="-1" href="#">4.5.3 Report Problem (Reportar Problema)</a></li>
              <li><a tabindex="-1" href="#">4.5.4 User's Choices (Opciones de Usuario)</a></li>
              <li><a tabindex="-1" href="#">4.5.5 Admin Menu (Menú de Administración)</a></li>
            </ul>
          </li>
        </ul>
      </div>
    
    </div><!--end toolbar div-->

  </div><!--end center column-->

  <div class="col-xs-3">
  </div>

</div><!--end row div-->

<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
    <!-- ============Placed at the end of the document so the pages load faster =========-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/ie10-viewport-bug-workaround.js"></script><!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</body>
</html>
