<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="family website">
    <meta name="author" content="larry rohr">
    
    <title>TOC</title>

    <!--<link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/mystyles.css"><!-- reference last to give it priority -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">  
		<div id="permissions" class="page-header">
			<div class="content-heading">
				<img id="logo" src="../logo.png" alt="Logo" title="Logo"/>
				<label id="permissions">[User: Larry ROHR  -  Permissions: Admin  -  Gen Grp: Rohr  -  Lang: English]</label>
			</div>
   			<h1>Table of Contents<br>
      				<small>Our Family Genealogy Home Page</small></h1>
    			<div class="row">
    				<form role="form" class="form-inline">  
					<a class="btn btn-lg btn-primary" href="javascript:history.go(-1)" role="button">&#171; BACK</a>
      					<div class="form-group">
        					<label for="help">HELP:</label>
        					<select id="help" class="form-control selectWidth placeholder" onChange="window.location.href=this.value">
							<option value="">***Select Help Type Here</option>
          						<option value="help-pages.html">Page Help</option>
          						<option value="help-how-to.html">How-To Help</option>
							<option value="help-rules.html">Rules</option>
          						<option value="contact-admin.html">Contact Web Administrator</option>
        					</select>
						<script>
    							document.getElementById("help").onchange = function() {if (this.selectedIndex!==0) 
							{window.location.href = this.value;}};
						</script>
      					</div>
      				</form>
    			</div> <!-- End Row -->
		</div><!-- End Page Header -->


		<div id="permissions" class="page-header">
      			<strong>Message Board</strong></h1>
    			<div role="form" class="form-inline">
    				<form role="form" class="form-inline">
					<a class="btn btn-success btn-md" href="#" role="button">&#171; Previous</a>  
					<textarea class="form-control lead" rows="5" style="width:80%;">1 Jan 2015 - Welcome to the new "Our Famiy Genealogy" website! If you are readng this message it means that your login credentials have worked properly and this website is supported in your browser. 

The best place to start is to read the "Getting Started" Section - Item 3a under Support in the Table of Contents below.</textarea>
					<a class="btn btn-success btn-md" href="#" class="btn btn-disabled" disabled role="button">Next &#187;</a>
      				</form>
    			</div> <!-- End Row -->
		</div><!-- End Page Header -->

		
      		<div class="row">
        		<div class="col-md-4">
          		<h2>Family Records</h2>
          		<ul class="list-unstyled"> 
				        <li>1a- <a href="person-records.html"><b>Person Records</b></a></li> 
				        <li>1b- <a href="marriage-records.html"><b>Marriage Records</b></a></li> 
				        <li>1c- <a href="ordinances.html">Temple/Ordinance Records</a></li>  
				        <li>1d- <a href="research-journal.html">Research Journals</a></li> 
				        <li>1e- <a href="sources-menu.html">Sources Menu</a></li> 
				        <li>1f- <a href="gen-attachments.html">Genealogy Attachments</a></li>
				        <li>1g- <a href="gen-locations.html">Genealogy Locations</a></li>
				        <li>1h- <a href="gen-reports.html">Genealogy Reports</a></li>
	   		      </ul>
        	  </div>

        	<div class="col-md-4">
          	<h2>Family Interest</h2>
          		<ul class="list-unstyled"> 
				        <li>2a- <a href="photo-records.html">Photo Records Library</a></li>
				        <li>2b- <a href="photo-albums.html"><b>Family Albums</b></a></li>  
				        <li>2c- <a href="phone-directory.html">Phone Directory</a></li> 
				        <li>2d- <a href="calendar.html">Family Calendar</a></li> 
				        <li>2e- <a href="recipes.html">Family Recipes</a></li>
			        </ul>
       		</div>

        	<div class="col-md-4">
          		<h2>Support</h2>
          		<ul class="list-unstyled"> 
				<li>3a- <a href="getting-started-en.html">Getting Started</a></li> 
				<li>3b- <a href="#">Change Password</a></li> 
				<li>3c- <a href="user-choice-menu.html">User Choices Menu</a></li> 
				<li>3d- <a href="user-training.html">User Training</a></li> 
				<li>3e- <a href="admin-menu.html">*Web Administrator's Menu</a></li> 
	   		</ul>
			*for admin use only

	        </div>
	</div>


		<footer>
			<hr id="my-footer-line">
        		<p id="my-footer">For problems with this website contact the <a href="mailto:lfrohr@gmail.com">Web Administrator</a>.</p>
      		</footer>
	</div> <!-- End Container -->
    <!-- ============Placed at the end of the document so the pages load faster =========-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/ie10-viewport-bug-workaround.js"></script><!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</body>
</html>

