<!--This is the default layout used by Rails for all templates in a controller-->
<!DOCTYPE html>
<html>
  <head>

  <title>Family Genealogy Website</title>
  



  </head>

  <body style = "background: url(/myimages/background3.jpg) center center no-repeat; background-size:1920px 1080px;">

    <%= yield %>
    
  </body>
</html>
